@import '../styles/variables.scss';

.carouselContainer {
  height: 100%;
  width: 100%;

  & > * {
    height: 100%;
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.itemContainer {
  width: 100%;
  height: 100%;
  // position: relative;

  .captionContainer {
    // display: none;
  }

  // &:hover {
  .captionContainer {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    .imageCaption {
      // display: flex;
      // margin: auto;
      // align-items: center;
      // justify-content: center;
      .textCaption {
        margin: auto;
      }
    }
  }
  // }
}

.imageContainer {
  // width: 100%;

  .image {
    // width: 100%;
  }
}
